{% extends 'base.html' %}

{% block content %}

  <ul>
	{% for event in events %}
    <li>
		<form action="/" method="POST">
      {% csrf_token %}
			{% for perf in event.performance %}
	    	{{ perf.displayName }} |
  		{% endfor %}
		<br/>
      {{ event.venue.displayName }} | {{ event.location.city }} <br/>
      {{ event.start.date }} | {{ event.start.time }} <br/>
      <a href="{{ event.uri }}">Buy tickets!</a><br/>
        <input type="text" name="event_id" value="{{ event.id }}"><br/>
        <input type="text" name="venue" value="{{ event.venue.displayName }}"><br/>
        <input type="text" name="city" value="{{ event.location.city }}"><br/>
        <input type="text" name="datetime" value="{{ event.start.datetime }}"><br/>
        <input type="text" name="uri" value="{{ event.uri }}"><br/>
        <input type="submit" value="Going"/>
	    </form>
    </li>
    <br/>
	{% endfor %}
  </ul>


{% endblock %}